@using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{

    foreach (var item in Context.User.Claims)
    {
        <span>@item.Type=@item.Value</span><br/>
    }

    <a>@Context.GetTokenAsync("access_token")</a>
    <a>@Context.GetTokenAsync("id_token")</a>
}