<h1 style="text-align:center;margin-top:20px;"><a href="/">Identity Server</a></h1>
<h3>User Claims</h3>
<ul>
    @foreach (var item in Context.User.Claims)
    {
        <li>@(item.Type) = @(item.Value)</li>
    }
</ul>
<br/>
<h3><a href="/Account/Logout">Logout</a></h3>
<h3><a href="/.well-known/openid-configuration">Discovery docs</a></h3>
<h3><a href="/.well-known/openid-configuration/jwks">Jwks</a></h3>
<h3><a href="https://github.com/soul-soft/IdentityServer">Github</a></h3>
