@using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">单点登入客户端</h1>
</div>

@{
    <a>AccessToken: @(await Context.GetTokenAsync("access_token"))</a><br/>
    <a>IdentityToken: @(await Context.GetTokenAsync("id_token"))</a>
    <br />
}