@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form>
    <input name="username" value="zs" type="text" /><br />
    <input name="username" value="123" type="text" /><br />
    <input name="returnUrl" value="@(Model.ReturnUrl)" type="text" hidden /><br />
    <input type="button" value="login"/>
</form>