@using Client.Apis;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.IdentityModel.Protocols.OpenIdConnect;
@model IEnumerable<WeatherForecast>;
@{
    var idToken = await Context.GetTokenAsync(OpenIdConnectParameterNames.IdToken);
    var accessToken = await Context.GetTokenAsync(OpenIdConnectParameterNames.AccessToken);
}
<h1 style="text-align:center;margin-top:20px;"><a href="/">MVC Client</a></h1>

<h3>User Claims</h3>
<ul>
    @foreach (var item in Context.User.Claims)
    {
        <li>@(item.Type) = @(item.Value)</li>
    }
</ul>

<h3>Id Token</h3>
<div>@idToken</div>

<h3>Access Token</h3>
<div>@accessToken</div>

<h3><a href="http://jwt.io" target="_top">jwt.io</a></h3>

<h3><a href="/Home/WeatherForecast" target="_parent">Call Api</a><br /></h3>

<h3><a href="/Account/Logout">Logout</a></h3>



