<h1 style="text-align:center;margin-top:20px;"><a href="/">MVC Client</a></h1>
<h3 style="text-align:center;margin-top:20px;">您已退出系统</h3>
<h3 style="text-align:center;margin-top:20px;"><a href="/">登入系统</a></h3>
