<form action="/account/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(Context.Request.Query["ReturnUrl"])" method="post">
    <label>username</label><br />
    <input type="text" name="Username" value="admin" /><br />
    <label>password</label><br />
    <input type="password" name="Password" value="admin" /><br />
    @if (Model.Error != null)
    {
        <label style="color:red">@Model.Error</label>
        <br />
    }
    <input type="submit" value="login"/>
</form>